<h2>Edit Question</h2>
<div class="question">
  <%= form_for @question do |f| %>
    <div>
      <%= f.label 'Question: ' %>
      <%= f.text_area :content %>
    </div>
    <br/>
    <div>
      <%= label_tag 'Add Topic: ' %>
      <%= text_field_tag :topic %>
    </div>
    <br/>
    <%= f.submit 'Edit Question' %>
  <% end %>
  <br/>
  <%= link_to 'Back', questions_path %>
</div>