<h2>Edit Answer</h2>
<div class="answer">
  <%= form_for @answer do |f| %>
    <div>
      <p><b>Question:</b></p>
      <%= @answer.question.content %>
    </div>
    <br/>
    <div>
      <%= f.label 'Answer: ' %>
      <%= f.text_area :content, class: 'answer' %>
    </div>
    <br/>
    <%= f.submit 'Edit Answer' %>
  <% end %>
  <br/>
  <%= link_to 'Back', answers_path %>
</div>
